---
layout: page
title: "About"
description: "Hey, this is Zhangxx."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>

</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>楼下一个男人病得要死，那间壁的一家唱着留声机；对面是弄孩子。楼上有两人狂笑；还有打牌声。河中的船上有女人哭着她死去的母亲。人类的悲欢并不相通，我只觉得他们吵闹。<br>
    于浩歌狂热之际中寒，于天上看见深渊，于一切眼中看见无所有，于无所希望中得救。<br>
    惟沉默是最高的轻蔑。</p></blockquote>

    <p>Hello，我是<strong>zhang.xx</strong>，程序员 &amp; WOTER，<a href="http://www.qust.edu.cn/">青岛科技大学</a> · 信息工程 2010 级；

    <p>14-16年任职于东软山东大区<strong>Neusoft</strong>，负责web与app开发；</p>
    <p>17年任职于中青致学（北京），负责app接口开发；</p>
    <p>18年任职于蛋壳公寓（北京），负责搜房引擎开发；</p>
    <p>19至今回到青岛，安家立业，任职于金智汇软件科技（原艾姆图），任职java研发；</p>

    <p>个人喜欢编程，喜欢有创造性的工作，并没有特定的喜欢语言，认同php天下第一，相信技术为产品服务，理想是开发出一款可以帮助到人们的软件，无论网站或者app与否；热爱开源世界，喜欢分享，喜欢写作，和大多数程序员可能不一样，我还喜欢文学与历史，包括但不限于中国古典文学、中国近现代文学、中国史、欧洲史、美国史、维京史等等；热爱自由，尊重不同的思想，尊重世界上的各种存在，于光怪陆离中寻找人生的平淡。</p>

    <p>一些作品和开源项目，👉 戳 <a href="http://github.com/zhangxx0">Github</a></p>

    <p>服务于国服玩家的WOT战绩查询APP（Android）<strong>WOTPlus</strong>（基本都失效了）：</p>
    <p> WOTPlus in fir.im: 👉 戳 <a href="http://fir.im/WOTPlus">WOTPlus-fir.im</a></p>
    <p> WOTPlus in 应用宝: 👉 戳 <a href="http://android.myapp.com/myapp/detail.htm?apkName=com.xinxin.wotplus">WOTPlus-应用宝</a></p>
    <p> WOTPlus in 魅族商店: 👉 戳 <a href="http://app.meizu.com/apps/public/detail?package_name=com.xinxin.wotplus">WOTPlus-魅族</a></p>

    <p> WOTPlus 绍介 👉 戳 <a href="http://amx13105.xyz/2016/04/30/wotplus-zero/">WOTPlus-绍介</a></p>


</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Yet another Frontend Engineer. <br>
    Yet another Lifelong Designer.</p></blockquote>

    <p>My name is <strong>Huang Xuan(黄玄)</strong>，you can call me nickname <strong>Hux</strong>. I studied Digital Media Art in <a href="https://en.wikipedia.org/wiki/Communication_University_of_China">Communication University of China</a>, which is a interdisciplinary subject of technology and art, and now Senior.</p>

    <p>As a engineer, I work at Wepiao (<a href="https://www.crunchbase.com/organization/wepiao#/entity">in CrunchBase</a>) as the dev lead of Front-End Infrastructure Team currently, and <a href="https://www.alitrip.com/">Alibaba Trip</a> as Intern for one year previously.</p>

    <p>As a designer, I am ever offered as UI/UX Designer Intern by Alibaba, Microsoft etc. I am experienced in Motion Graphic Design, and familer with typography and layout.</p>

    <p>Some of my projects is put on my <a href="/portfolio">Portfolio 👉</a> and <a href="http://github.com/huxpro">Github 👉</a>. I am also translator of <a href="http://www.gfansub.com/">GDG China</a>, maintainer of <a href="http://zhuanlan.zhihu.com/FrontendMagazine">Frontend Magazine</a> and owner of <a href="http://zhuanlan.zhihu.com/huxblog">Lifelong Romantic Geek</a></p>

    <h5>Talks</h5>

    <ul>
    <li><a href="http://huangxuan.me/2015/12/28/css-sucks-2015/">CSS Still Sucks 2015 · 2015</a></li>
    <li><a href="http://huangxuan.me/2015/07/09/js-module-7day/">JavaScript Modularization Journey · 2015</a></li>
    </ul>


    <h5>Resumes</h5>

    <ul>
    <li><a href="/attach/2016_Hux_en_SE.pdf">2016_Hux_en_SE &amp; FE</a></li>
    <li><a href="attach/2016_Hux_en_PD.pdf">2016_Hux_en_PD &amp; UX</a></li>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
